.absorbance {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-self: center;
}

.absorb-col {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-self: flex-start;
}

.display {
  height: 100%;
  max-height: 18rem;
  overflow-y: scroll;
  overflow-wrap: normal;
  background-color: rgb(232, 232, 232);
  border-radius: 1.5em;
}

.content {
  padding: 0 1rem;
}

#data {
  padding: 0;
}
