.button {
  margin: 10px;
  padding: 8px 12px;
  height: auto;

  border-radius: 0.5rem;
  border-style: none;

  font-family: "Roboto";
  font-size: 18px;

  color: white;
  background-color: #212529;
}

.button:hover {
  background-color: #002ead;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
}

.absorbance {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-self: center;
}

.absorb-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  align-self: flex-start;
}

.file {
  height: 100%;
  max-height: 18rem;
  overflow-y: scroll;
  overflow-wrap: normal;
  background-color: rgb(232, 232, 232);
  border-radius: 1.5em;
}

.content {
  padding: 0 1rem;
}

#data {
  padding: 0;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
