.button {
margin: 10px;
padding: 8px 12px;
height: auto;

border-radius: 0.5rem;
border-style: none;

font-family: "Roboto";
font-size: 18px;

color: white;
background-color: #212529;
}

.button:hover {
background-color: #002ead;
background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
}

.button:hover:disabled {
cursor: not-allowed;
background-color: #212529;
background: #212529;
}