/* ---------- popup ---------- */
.popup h2 {
  font-family: "Montserrat";
  text-align: center;
  padding: 20px 0;
  text-decoration: underline;
}

.popup p {
  font-family: "Roboto";
  pointer-events: none;
  padding: 0 3%;
}

.MuiDialog-paper {
  width: 100%;
  height: 80%;
}
