h1 {
  font-family: "Montserrat" !important;
  text-align: center;
  text-decoration: underline;
 }

h3 {
  font-family: "Roboto";
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

/* Save */
.print-row {
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

#print-button {
  max-width: 90px;
  align-self: center;
  justify-content: center;
}
