body {
    text-align: center;
    background-color: #1d2022;
    display:flex;
    flex-direction: column;
}

h1 {
    font-size: 6em;
    font-family: 'Roboto';
    color: white;
    margin:0.5em 0;
}

p {
    font-size: 2em;
    font-family: 'Montserrat';
    color: white;

}

a {
    font-size: 2em;
    font-family: 'Montserrat';
    color: hsl(30,88%,69%);
    margin: 1em;
}

img {
    height: 15em;
    padding-top:1.5em;
}
