/* ---------- instrument-window ---------- */
#instrument-window {
  display: flex;
}

#instrument-accessories {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#readout {
  display: flex;
  flex-direction: column;
}

#spectrum {
  display: flex;
  flex-direction: column;
}

#instrument {
  height: 94vh;
  flex-grow: 1;
}

@media only screen and (max-width: 1200px) {
  #instrument-window {
    flex-direction: column;
  }

  #readout {
    flex-direction: column;
    max-width: 100%;
  }

  #instrument {
    width: 100%;
  }
}

/* ---------- svg components ---------- */
.component {
  pointer-events: none;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border: #1d2022 2px solid;
}

g {
  pointer-events: all;
}

/* ---------- tooltip ---------- */

.popup-tooltip {
  display: flex;
  flex-direction: column;
}

.popup-tooltip h1 {
  font-family: "Montserrat";
  text-align: center;
  text-decoration: underline;
}

.popup-tooltip img {
  margin: 20px;
  height: auto;
  width: auto;
  max-height: 350px;
  max-width: 500px;
}

.popup-tooltip p {
  font-size: large;
  font-family: "Roboto";
  text-align: center;
  padding: 3% 3%;
}

.popup-tooltip .MuiDialog-paper {
  align-items: center;
  width: 50%;
  height: auto;
}
