/* ---------- instrument-window ---------- */
#instrument-window {
  display: flex;
}

#instrument-accessories {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#readout {
  display: flex;
  flex-direction: column;
}

#spectrum {
  display: flex;
  flex-direction: column;
}

#instrument {
  height: 94vh;
  flex-grow: 1;
}

@media only screen and (max-width: 1200px) {
  #instrument-window {
    flex-direction: column;
  }

  #readout {
    flex-direction: column;
    max-width: 100%;
  }

  #instrument {
    width: 100%;
  }
}

/* ---------- svg components ---------- */
.component {
  pointer-events: none;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border: #1d2022 2px solid;
}

g {
  pointer-events: all;
}

/* ---------- tooltip ---------- */

.popup-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-tooltip h1 {
  font-size: 30px;
  font-family: "Montserrat";
  text-align: center;
  text-decoration: underline;
}

.tooltip-svg {
  height: auto;
  width: auto;

  max-width: 300px;
  max-height: 300px;

  padding: 10px;
}

.tooltip-graph {
  width: 500px;
  height: auto;
}

.tooltip-planck {
  width: 400px;
  height: auto;
}

.popup-tooltip p {
  font-size: large;
  font-family: "Roboto";
  text-align: center;
  padding: 3% 3%;
}

.MuiDialog-paper {
  width: 50vw;
  height: auto;

  padding: 0;
  margin: 0;
}
