/* ---------- spectrum-window ---------- */
#spectrum-window {
  display: flex;
  flex-direction: column;
}

#spectrum {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* height: 47vh; */
}
