/* ---------- spectrum-window ---------- */
#spectrum-window {
  display: flex;
  flex-direction: column;
}

#spectrum {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 47vh;
}

.Mui-selected {
  color: hsl(30,88%,69%);
}
