/* ---------- fonts ---------- */
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

/* ---------- general ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- app ---------- */
.App {
  display: flex;
  flex-direction: column;
}

/* ---------- navigation / menu bar ---------- */
.nav-area {
  display: flex;
  align-items: center;
  /* justify-content: left; */
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 58px;
  background-color: #1d2022;
  color: white;
  z-index: 1;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin: 0 20px 0 20px;
  font-family: "Montserrat";
}

.menus {
  display: flex;
  list-style: none;
}

.logolink {
  display: inherit;
  align-items: center;
}

