.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 58px;
  color: #212529;
}

.nav-area {
  display: flex;
  align-items: center;
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 58px;
  position: fixed;
  /* background-color:#61dafb; */
  background-color:#1d2022;
  color: white;
  z-index: 1;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
  font-family: 'Montserrat';
}

.menus {
  display: flex;
  list-style: none;

}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu-items a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
  border-radius: 10%;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color:#2b3032;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color:#1d2022;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

/* FTIR Style */
.ftir-display {
  height: 90%;
  width: 90%;
  margin: 10px 5%;
  top: 70px;
  position: fixed;
  background-color: aquamarine;
  pointer-events: none;
}