.experiment-setup {
    position:fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

#button {
    margin: 10px;
  }
  
  /* Graph */
  .dygraph-label.dygraph-xlabel {
    text-align: center;
  }
  
  .dygraph-label.dygraph-ylabel {
    text-align: center;
    transform: rotate(-90deg);
  }
  
  /* Form */
  #fourm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .input {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  /* Spinner */
  #spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Error */
  #error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  
  #error p {
    margin: 0;
    padding: 0;
  }
  