/* ---------- instrument-window ---------- */
#instrument-window {
  display: flex;
  justify-content: center;
}

#instrument {
  height: 90vh;
  width: 55%;
  padding: 10px;
}

#readout {
  display: flex;
  flex-direction: column;
  width: auto;
  flex-grow: 1;
}

@media only screen and (max-width: 1200px) {
  #instrument-window {
    flex-direction: column;
  }

  #readout {
    flex-direction: row;
  }

  #instrument {
    width: 100%;
  }
}

/* ---------- svg components ---------- */
.component {
  pointer-events: none;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border: #1d2022 2px solid;
}

g {
  pointer-events: all;
}

.example-image {
  align-self: center;
  width: 70%;
  height: 30%;
}

/* ---------- electronics ---------- */
.electronics {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  background-color: #1d2022;
  border: 5px solid goldenrod;
  padding: 5px;
  margin: 10px;
}

.electronics h2 {
  font-family: "Montserrat";
  color: goldenrod;
}

.electronics label {
  font-family: "Roboto";
}

.electronics-top {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  padding-bottom: 20px;
}

.electronics-bottom {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.grid {
  margin: 5px;
}

input {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
}
