.component {
  pointer-events: none;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
}

g {
  pointer-events: all;
}

.example-image {
    align-self: center;
    width: 70%;
    height: 30%;
    
}

